global-exclude *.py[cod] __pycache__
prune **/__pycache__
prune **/.DS_Store
prune tests
prune venv .venv
prune .tox
graft src/wagtailmarkdown
include LICENSE
include *.md
include pyproject.toml
exclude .pre-commit-config.yaml
exclude tox.ini
exclude db.sqlite3
exclude .editorconfig .gitignore
