[tool.poetry]
name = "wagtail-markdown"
version = "0.6.1"
description = ""
authors = ["Your Name <you@example.com>"]
packages = [
    { include = "wagtailmarkdown" },
]

[tool.poetry.dependencies]
python = "^3.6"
wagtail = "^2.7.1"
bleach = "^3.1.0"
Markdown = "^3.1.1"
python-markdown-math = "^0.6"

[tool.poetry.dev-dependencies]
autopep8 = "^1.5"
pylint = "^2.4.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
