name: Ruff

on:
  push:
    branches:
      - main
      - 'stable/**'
  pull_request:
    branches: [main]

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install dependencies
        # keep in sync with .pre-commit-config.yaml
        run: python -Im pip install --user ruff==0.8.2
      - name: Run Ruff
        run: ruff check --output-format=github ./src/wagtailmarkdown
